In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.read_excel('file_example_XLSX_10.xlsx')

   0 First Name  Last Name  Gender        Country  Age        Date    Id
0  1      Dulce      Abril  Female  United States   32  15/10/2017  1562
1  2       Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
2  3     Philip       Gent    Male         France   36  21/05/2015  2587
3  4   Kathleen     Hanner  Female  United States   25  15/10/2017  3549
4  5    Nereida    Magwood  Female  United States   58  16/08/2016  2468
5  6     Gaston      Brumm    Male  United States   24  21/05/2015  2554
6  7       Etta       Hurn  Female  Great Britain   56  15/10/2017  3598
7  8    Earlean     Melgar  Female  United States   27  16/08/2016  2456
8  9   Vincenza    Weiland  Female  United States   40  21/05/2015  6548

In [28]:
pd.read_excel('WypadkiwgwojewodztwIX2016.xls', 
              sheet_name="ogółem", 
              skiprows=[0,1], 
              index_col=0, 
              usecols=[1,2,3,4,5],
              skipfooter=1)

,ciężki,inny,śmiertelny,Razem
Przedszkole,10,2228,0,2238
Szkoła podstawowa,62,30737,0,30799
Gimnazjum,53,21513,4,21570
Zasadnicza szkoła zawodowa,0,1077,1,1078
Liceum ogólnokształcące,13,4666,0,4679
Technikum,6,4031,0,4037
Szkoła policealna (ponadgimnazjalna),0,51,0,51
Szkoła specjalna przysposabiająca do pracy dla uczniów z upośledzeniem umysłowym w stopniu umiarkowanym lub znacznym oraz dla uczniów z więcej niż jedną niepełnosprawnością,1,55,0,56
Sześcioletnia ogólnokształcąca szkoła muzyczna I stopnia,0,99,0,99
Sześcioletnia szkoła muzyczna I stopnia,0,1,0,1
Czteroletnia szkoła muzyczna I stopnia,0,1,0,1
Sześcioletnia ogólnokształcąca szkoła muzyczna II stopnia,0,19,0,19
Sześcioletnia ogólnokształcąca szkoła sztuk pięknych,0,29,0,29
Czteroletnie liceum plastyczne,0,30,0,30
Dziewięcioletnia ogólnokształcąca szkoła baletowa,0,20,0,20
Czteroletnia szkoła sztuki cyrkowej,0,1,0,1
Pałac młodzieży,0,10,0,10
Młodzieżowy dom kultury,0,26,0,26
Ognisko pracy pozaszkolnej,0,3,0,3
Międzyszkolny ośrodek sportowy,0,19,0,19
Ogród jordanowski,0,1,0,1
Pozaszkolna placówka specjalistyczna,0,1,0,1
Centrum Kształcenia Praktycznego,0,34,0,34
Centrum Kształcenia Ustawicznego ze szkołami,0,8,0,8
Ośrodek dokształcania i doskonalenia zawodowego,0,7,0,7
Specjalny Ośrodek Wychowawczy,0,5,0,5
Specjalny Ośrodek Szkolno-Wychowawczy,0,89,0,89
Ośrodek Rewalidacyjno-Wychowawczy umożliwiający upośledzonym umysłowo realizację obowiązku szkolnego i nauki,0,12,0,12
Młodzieżowy Ośrodek Wychowawczy,3,85,0,88
Młodzieżowy Ośrodek Socjoterapii ze szkołami,3,60,0,63
Bursa,0,51,0,51
Dom wczasów dziecięcych,0,75,0,75
Niepubliczna placówka oświatowo-wychowawcza w systemie oświaty,0,3,0,3
Zespół wychowania przedszkolnego,0,1,0,1
Punkt przedszkolny,0,26,0,26
Poznańska szkoła chóralna,0,10,0,10
Bednarska Szkoła Realna,0,1,0,1

In [53]:
df = pd.read_excel("WypadkiwgwojewodztwIX2016.xls", 
                   sheet_name="wg województw", 
                   header=2, 
                   usecols=[1,3,4,5,6], 
                   index_col=[1,0], 
                   skipfooter=1)

In [54]:
df = df.sort_index()

In [56]:
df.head(10)

                                                  ciężki  inny  śmiertelny
Bednarska Szkoła Realna WOJ. MAZOWIECKIE               0     1           0
Bursa                   WOJ. DOLNOŚLĄSKIE              0     4           0
                        WOJ. KUJAWSKO-POMORSKIE        0     1           0
                        WOJ. LUBELSKIE                 0    10           0
                        WOJ. MAŁOPOLSKIE               0    14           0
                        WOJ. PODLASKIE                 0     1           0
                        WOJ. POMORSKIE                 0     2           0
                        WOJ. WARMIŃSKO-MAZURSKIE       0     5           0
                        WOJ. WIELKOPOLSKIE             0     3           0
                        WOJ. ZACHODNIOPOMORSKIE        0     1           0